<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_img"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_img_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Second"
            android:exported="false"
            android:theme="@style/Theme.Second"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".PlayerServiceExample"/>

        <receiver android:name=".receivers.NotificationReceiver" />

        <service
            android:name=".services.PositiveBtnNotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>


        <!--<receiver android:name=".CustomReceiverExample" android:exported="true">
            <intent-filter>
                <action android:name="com.sumanthacademy.myapplication.SEND_EVENT"/>
            </intent-filter>
        </receiver>-->
    </application>

</manifest>